/*
Color Scheme:
TEXT: #555
LIGHT YELLOW: #f0f3bd
LIGHTEST GREEN: #02c39a
MID GREEN: #00a896
DARK GREEN: #028090
DARKEST GREEN: #05668d
*/

body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  color: #555;
}

hr {
  height: 0;
  border-top: solid #333 1px;
}

.navbar {
  position: fixed;
  z-index: 500;
  background-color: #FFF;
  width: 100%;
  height: 50px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .25);
}

.navbar-content {
  padding: 10px 3%;
}

.navbar-logo {
  font-size: 1.2rem;
  float: left;
}

.navbar-button {
  float: right;
  margin: 0 10px 0 20px;
}

.navbar-item {
  float: right;
  margin: 0 10px;
  font-weight: lighter;
}

.page-content {
  padding: 60px 0 0 0;

}

.video-section{
  background-color: #449342;
  color: #FFF;
  margin: 0;
}

.video-text{
  display: inline-block;
  text-align: center;
  padding: 0 5% 5%;
  min-width: 90%;
  vertical-align: top;
}

.home-img {
  max-width: 30%;
  border: 2px solid #FFF;
  border-radius: 5px;
  float: right;
}

.section-head {
  font-size: 4rem;
  letter-spacing: .2rem;
  font-variant: small-caps;
  font-weight: bold;
}

.section-text {
  padding: 5% 0 0;
  line-height: 3.5rem;
  font-size: 1.5rem;
}

@media (max-width: 1028px) {
  /* For mobile phones: */
  .home-img {
    max-width: 70%;
    margin: 0 15%;
  }
}

.info-section {
  background-color: #C1f6ED;
}

.belief-text {
  padding: 5% 0;
  text-align: center;
}

.description {
  margin: 2.5% 0;
  font-size: 2.5rem;
}

.about-text {
  max-width: 70%;
  margin: 0 15%;
  padding-bottom: 5%;
}

.about-img {
  position: relative;
  top: -2rem;
  float: right;
  min-width: 25%;
}

@media (max-width: 1028px) {
  /* For mobile phones: */
  .info-section {
    text-align: center;
  }

  .info-section .subdivider {
    width: 100%;
    margin: 5% 0;
    border: 0;
    height: 2px;
    background-image: radial-gradient(#555,rgba(0,0,0,0), rgba(0,0,0,0));
  }
  .about-img {
    position: static;
    float: none;
    width: 50%;
  }
}

.subdivider {
  width: 50%;
  margin-left: 0;
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, #555, rgba(0,0,0,0))
}

.btn {
  border: solid 1px #02353C;
  font-size: 1rem;
  padding: 0 10px 5px;
  text-align: center;
  text-decoration: none;
  font-weight: lighter;
  font-variant: small-caps;
}

.dark {
  background-color: #02353C;
  color: #C1f6ED;
}

.dark:hover {
  background-color: #C1f6ED;
  color: #02353C;
}

.light {
  background-color: #C1f6ED;
  color: #02353C;
}

.light:hover {
  background-color: #02353C;
  color: #C1f6ED;
}

.subheader {
  font-variant: small-caps;
  font-weight: lighter;
  font-size: 1rem;
  margin: 0;
}

.file-upload {
  border: solid 1px #CCC;
  border-radius: 5px;
  text-align: center;
  min-width: 70%;
  max-width: 70%;
  display: inline-block;
  margin: 0 3% 3% 3%;
}

.video-icon {
  margin: 5%;
  max-width: 15%;
  padding: 10px 20px;
  opacity: .5;
  border: solid 1px #666;
  background-color: #EEE;
  border-radius: 5px;
}

.upload-input {
  display: none;
}

.file-upload-button {
  margin: 0 auto 5%;
  font-size: 2rem;
  max-width: 70%;
  display: block;
}

.file-upload-text {
  font-size: 1.5rem;
}

.sidebar {
  display: inline-block;
  margin-right: 3%;
  width: 20%;
  vertical-align: top;
}

.sidebar-content {
  text-align: center;
}

.video {
  padding: 0 3%;
  max-width: 70%;
  text-align: center;
}

.video-player {
  max-width: 80%;
}

.section-divider {
  width: 100%;
  margin: 5% 0;
  border: 0;
  height: 2px;
  background-image: radial-gradient(#555,rgba(0,0,0,0), rgba(0,0,0,0));
}

.login-body {
  background-image: repeating-linear-gradient(to bottom right, #C1f6ED, #02353C);
  background-repeat: no-repeat;
  background-color: #02353C;
}

.login {
  padding: 5rem 25% 20%;
}

.login-form {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, .2);
  text-align: center;
  padding: 5% 20%;
}

.input-box {
  border: solid 1px black;
  border-radius: 5px;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, .2);
  margin-bottom: 20px;
}

.input-box:hover {
  background-color: #C1f6ED;
}

.submit {
  padding: 5px 3rem;
}
